.LockScreen {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 2em;
  max-width: 1200px;
  margin: 0 auto;
}
.LockScreen-problem,
.LockScreen-solution {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (orientation: portrait) {
  .LockScreen {
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 1fr;
  }
}
