.Solution {
  font-size: 2em;
}
.Solution-buttons {
  margin: auto;
}
.Buttons {
  margin: auto;
}
.Solution-counter,
.Solution-action {
  margin: 0 1em;
  text-align: center;
}
.Solution-aside {
  margin: 4em 0 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Solution-action button {
  font-size: 3.5em;
}
@media (orientation: portrait) {
  .Solution {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Solution-aside {
    margin: 0 0 0 4em;
    flex-direction: column;
  }
  .Solution-counter,
  .Solution-action {
    margin: 1em 0;
  }
  .Solution-action button {
    padding: 0 0.5em;
  }
}
@media (min-width: 600px) {
  .Solution {
    font-size: 1.5em;
  }
  .Solution-action button {
    font-size: 1.75em;
  }
}
@media (min-width: 1024px) {
  .Solution {
    font-size: 0.75em;
  }
}
