:root {
  --c-brand-hl: rgb(135, 194, 209);
  --c-brand-li: rgb(42, 130, 174);
  --c-brand-da: rgb(11, 37, 50);

  --c-light-li: rgba(255, 255, 255, 0.15);
  --c-light: rgba(255, 255, 255, 0.65);

  --c-dark-li: rgba(0, 0, 0, 0.25);
  --c-dark: rgba(0, 0, 0, 0.5);

  --c-positive: rgb(0, 182, 97);
  --c-warning: rgb(182, 118, 0);
  --c-danger: rgb(182, 0, 0);

  --b-pad: 0.2em;
  --b-space: 2em;

  --root-font: 1vw;
}
html {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: var(--root-font);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1em;
  padding: 0;
  margin: 0;
  background: linear-gradient(180deg, var(--c-brand-li), var(--c-brand-da));
}
body,
#root,
.App {
  height: 100%;
  width: 100%;
  height: 100%;
  width: 100%;
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 32px 1fr;
}

.App-header {
  background-color: var(--c-dark-li);
  grid-column: span 2;
  color: var(--c-light);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.App-logo {
  height: 80%;
  width: auto;
  opacity: 0.65;
}

.App-testName {
  position: absolute;
  right: 1em;
}

button {
  font-size: 1em;
  line-height: 2;
  border: 1px solid var(--c-brand-hl);
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding: 0 1em;
  color: var(--c-brand-hl);
  background-color: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0), var(--c-light-li));
}

@media (orientation: landscape) {
  :root {
    --root-font: 1vh;
  }
}

@media screen and (min-width: 600px) {
  .App {
    grid-template-rows: 48px 1fr;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 16px;
  }
}
